<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Share+Tech&display=swap" rel="stylesheet">
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" rel="stylesheet">
  <link href="https://innou.io/assets/css/bundle.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.3/tailwind.min.css'><link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


  <title>HAYEK</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/logo.svg" type="image/x-icon">
  <!-- <link href="/fa-solid-900.woff" rel="stylesheet"> -->
  <!-- <link href="/fa-solid-900.ttf" rel="stylesheet"> -->
  <style>
    .logos {
      font-size: 8rem;
      font-weight: 500;
      font-family: "Kanit";
      text-align: center;
      background: -webkit-linear-gradient(left, #f7b91c, #D62229, #f7b91c, #df5b23, #f7b91c);
      background: linear-gradient(left, #f7b91c, #D62229, #f7b91c, #df5b23, #f7b91c);
      background-size: 3200px 200px;
      margin-top: 12vh;
      color: transparent;
      -webkit-background-clip: text;
      -webkit-animation: animate-logo;
      -webkit-animation-delay: 0;
      -webkit-animation-duration: 7s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-fill-mode: forwards;
      transition: font-size 500ms ease-in-out;
    }
  </style>
</head>

<body>
  <noscript>Sorry, we need js to run correctly!</noscript>
  <div id="root"></div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>
  <script src="/modernizr.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>
  <script src='https://assets.codepen.io/16327/gsap-latest-beta.min.js'></script>
  <script src='https://assets.codepen.io/16327/Flip.min.js'></script>


</body>

</html>