<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
  <link rel="shortcut icon" href="/logo.svg" type="image/x-icon">
  <link rel="stylesheet" href="/normalize.min.css">
  <link rel="stylesheet" href="/swiper-bundle.min.css">
  <link rel="stylesheet" href="/button.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Timmana&display=swap" rel="stylesheet">
</head>

<body>
  <noscript>Sorry, we need js to run correctly!</noscript>
  <div id="root"></div>
  <script src='/momentum-slider.min.js'></script><script  src="./script.js"></script>
  <script src='/p5.min.js'></script>
  <script src='/swiper-bundle.min.js'></script>
  <script src="/628c8d2499.js" crossorigin="anonymous"></script>

</body>

</html>