body {
  background: #000;
  height: 100vh;
  overflow: hidden;
}

#ui .cell_list {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  transform: translate(-50%, -50%) rotateZ(-80deg);
  display: flex;
  flex-wrap: wrap;
  justify-items: top;
}
#ui .cell_list_item {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0.5px;
  background: #000;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px black;
}
#ui .cell_list_item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 15px;
  background: rgba(0, 0, 0, 0.6);
  transform: translate(-50%, -50%) rotateZ(90deg);
  filter: blur(5px);
}
#ui .cell_list_item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 15px;
  background: rgba(0, 0, 0, 0.6);
  transform: translate(-50%, -50%);
  filter: blur(5px);
}
#ui .rotate {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 1000px;
  background: #000;
  transform: translate(-55%, -54%);
  filter: blur(10px) contrast(30);
}
#ui .rotate_ball {
  position: absolute;
  top: 50%;
  left: 50%;
  mix-blend-mode: screen;
}
#ui .rotate_ball:nth-child(1) {
  animation: rotate 4917ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(1) .inner {
  width: 76px;
  height: 76px;
  border: 12px solid #d8d5a4;
  animation: translate 1415ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(2) {
  animation: rotate 5885ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(2) .inner {
  width: 112px;
  height: 112px;
  border: 12px solid #dabd46;
  animation: translate 3653ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(3) {
  animation: rotate 3498ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(3) .inner {
  width: 125px;
  height: 125px;
  border: 12px solid #78aa1a;
  animation: translate 1401ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(4) {
  animation: rotate 4160ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(4) .inner {
  width: 47px;
  height: 47px;
  border: 12px solid #b42a5b;
  animation: translate 2221ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(5) {
  animation: rotate 5542ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(5) .inner {
  width: 116px;
  height: 116px;
  border: 12px solid #c11ecb;
  animation: translate 1901ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(6) {
  animation: rotate 6130ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(6) .inner {
  width: 82px;
  height: 82px;
  border: 12px solid #79fe2e;
  animation: translate 3000ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(7) {
  animation: rotate 6517ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(7) .inner {
  width: 88px;
  height: 88px;
  border: 12px solid #a698d6;
  animation: translate 2590ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(8) {
  animation: rotate 3915ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(8) .inner {
  width: 50px;
  height: 50px;
  border: 12px solid #7a9a46;
  animation: translate 1125ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(9) {
  animation: rotate 6014ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(9) .inner {
  width: 110px;
  height: 110px;
  border: 12px solid #7babfc;
  animation: translate 1458ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(10) {
  animation: rotate 3872ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(10) .inner {
  width: 74px;
  height: 74px;
  border: 12px solid #870553;
  animation: translate 1144ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(11) {
  animation: rotate 4010ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(11) .inner {
  width: 100px;
  height: 100px;
  border: 12px solid #0808af;
  animation: translate 3524ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(12) {
  animation: rotate 6991ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(12) .inner {
  width: 63px;
  height: 63px;
  border: 12px solid #5e5315;
  animation: translate 1440ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(13) {
  animation: rotate 6537ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(13) .inner {
  width: 54px;
  height: 54px;
  border: 12px solid #4dd004;
  animation: translate 3928ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(14) {
  animation: rotate 4828ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(14) .inner {
  width: 116px;
  height: 116px;
  border: 12px solid #f854fc;
  animation: translate 2859ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(15) {
  animation: rotate 5502ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(15) .inner {
  width: 60px;
  height: 60px;
  border: 12px solid #c5abb1;
  animation: translate 3411ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(16) {
  animation: rotate 5076ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(16) .inner {
  width: 107px;
  height: 107px;
  border: 12px solid #3bf0a0;
  animation: translate 1524ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(17) {
  animation: rotate 5167ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(17) .inner {
  width: 84px;
  height: 84px;
  border: 12px solid #7220bd;
  animation: translate 1275ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(18) {
  animation: rotate 3390ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(18) .inner {
  width: 101px;
  height: 101px;
  border: 12px solid #c29b29;
  animation: translate 2284ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(19) {
  animation: rotate 5806ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(19) .inner {
  width: 54px;
  height: 54px;
  border: 12px solid #21363f;
  animation: translate 1910ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(20) {
  animation: rotate 5280ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(20) .inner {
  width: 57px;
  height: 57px;
  border: 12px solid #34eb40;
  animation: translate 1184ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(21) {
  animation: rotate 6403ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(21) .inner {
  width: 71px;
  height: 71px;
  border: 12px solid #82fdf8;
  animation: translate 1902ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(22) {
  animation: rotate 5796ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(22) .inner {
  width: 108px;
  height: 108px;
  border: 12px solid #9feace;
  animation: translate 2274ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(23) {
  animation: rotate 4769ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(23) .inner {
  width: 45px;
  height: 45px;
  border: 12px solid #53ecb7;
  animation: translate 1621ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(24) {
  animation: rotate 6975ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(24) .inner {
  width: 104px;
  height: 104px;
  border: 12px solid #9b5655;
  animation: translate 3002ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(25) {
  animation: rotate 6185ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(25) .inner {
  width: 90px;
  height: 90px;
  border: 12px solid #2faae3;
  animation: translate 2412ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(26) {
  animation: rotate 3654ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(26) .inner {
  width: 130px;
  height: 130px;
  border: 12px solid #59750b;
  animation: translate 2184ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(27) {
  animation: rotate 3994ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(27) .inner {
  width: 104px;
  height: 104px;
  border: 12px solid #f5c4e1;
  animation: translate 2889ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(28) {
  animation: rotate 6645ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(28) .inner {
  width: 80px;
  height: 80px;
  border: 12px solid #cf189e;
  animation: translate 3798ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(29) {
  animation: rotate 6916ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(29) .inner {
  width: 42px;
  height: 42px;
  border: 12px solid #77f0d7;
  animation: translate 3564ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}
#ui .rotate_ball:nth-child(30) {
  animation: rotate 6884ms infinite alternate cubic-bezier(0.33, 1.7, 0.51, 0.82);
}
#ui .rotate_ball:nth-child(30) .inner {
  width: 60px;
  height: 60px;
  border: 12px solid #0b0e2f;
  animation: translate 3293ms infinite alternate cubic-bezier(0.545, 0.08, 0.52, 0.975);
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(720deg);
  }
}
@keyframes translate {
  0% {
    transform: rotateZ(0deg) translate(-200%, 0);
  }
  100% {
    transform: rotateZ(0deg) translate(200%, 0);
  }
}